.slide {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 95%);
}

.slide::before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  transition-duration: 300ms;
  background-image: var(--background-image);
}
